:root {
  --green: #2ba154;
  --darkgreen: #1e713b;
  --blue: #3d6d7b;
  --darkblue: #2f5460;
  --red: #c1292e; /*#EF233C;*/
  --yellow: #eec584;
  --gray: #090c08; /*#363130;*/
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Quicksand", Arial, sans-serif;
  color: var(--darkgreen);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  padding-top: 0.75em;
}

h4 {
  margin: 0.5em 1em;
}

hr {
  margin: 1em 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  background-color: var(--darkblue);
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
}

/***************** BANNER *********************/
.banner {
  background-color: var(--red);
  padding: 0.75em 0;
  display: none;
}

.banner h1 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
}

.banner p {
  margin: 0;
  color: white;
  padding: 0.3em;
  text-align: center;
  font-size: 0.9em;
}

/***************** HEADER *********************/
header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.75em 5px;
  background-color: var(--darkblue);
}

header button {
  align-self: center;
  padding: 0.5em 0.5em;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 0.5em;
}

header button:active {
  background-color: var(--yellow);
  color: black;
}

header h1 {
  color: white;
  font-size: 22px;
  margin: 0;
}

header img {
  width: 50px;
  margin-left: 0.5em;
}

header p {
  display: inline;
  margin: 0;
}

.headings {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.headings h1 {
  padding-bottom: 3px;
}

.motto {
  color: whitesmoke;
}

/***************** NAVIGATION *********************/
nav {
  background-color: var(--blue);
  margin: 0;
}

.navigation {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.navigation li {
  display: none;
}

.navigation li a {
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 20px;
  display: block;
  color: white;
  padding: 0.75em;
  text-decoration: none;
  text-align: center;
}

.navigation a:active {
  background-color: var(--yellow);
  color: black;
  font-weight: bold;
}

.active {
  font-weight: bold;
  background-color: white;
}

.navigation .active a {
  color: var(--darkgreen);
}

.responsive li {
  display: block;
}

/***************** MAIN *********************/
main {
  text-align: left;
  padding: 2.5%;
  background-color: white;
  margin: auto;
  max-width: 1080px;
}

main img {
  width: 100%;
}

/***************** WEATHER SUMMARY *********************/

.weatherSummary h2 {
  background-color: var(--darkgreen);
  color: white;
  margin: 0;
  padding: .75rem;
  text-align: center;
}

.weatherSummary ul {
  list-style: none;
  padding: 0 0 1.25em 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .4rem;
  align-items: center;
}

.weatherSummary #iconTemp {
  height: 90px;
  width: auto;
  place-self: center;
  border-radius: 1em;
}

.weatherSummary #currentTemp {
  font-size: 2.75em;
}

.weatherSummary ul li:nth-child(odd) {
  text-align: right;
}

.weatherSummary ul li:nth-child(1) {
  align-self: center;
}

.weatherSummary span {
  font-weight: bold;
  color: var(--darkblue);
}

/***************** FORECAST *********************/
.forecast {
  text-align: center;
  font-family: "Quicksand", Arial, sans-serif;
}

.forecast h2 {
  color: var(--darkblue);
}

.forecast h3 {
  margin: 0;
  padding: 0;
  color: white;
  place-self: center;
}

.forecast ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: .5% 2.5%;
  border-radius: .5em;
}

.forecast li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: .5em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: .5em;
  background: var(--darkblue);
  color: white;
}

.forecast img {
  width: 72px;
}

.forecast p {
  margin: 0;
  padding: 0;
}

main p.weatherInfo {
  text-align: right;
}

/***************** ARTICLE *********************/
.article {
  background-color: rgba(000, 000, 000, 0.1);
  padding: 0 1em 1em 1em;
}

.article img {
  display: block;
  width: 80%;
  margin: 0 auto;
  border: 2px solid var(--darkblue);
}
/***************** FOOTER *********************/
footer {
  padding: 1em;
  background-color: var(--gray);
  color: var(--yellow);
  font-size: 0.9em;
}

footer p {
  margin: 0.25em 1em;
}

footer a {
  color: var(--yellow);
}

.contact p {
  color: whitesmoke;
}

.social {
  margin: 1.5em;
  text-align: center;
}

.social a {
  margin: 0 0.5em;
}

.social img {
  width: 44px;
}

.map {
  display: none;
}

/***************** BYU-FOOTER *********************/
.BYUfooter {
  text-align: center;
  background-color: black;
  color: var(--yellow);
  padding: 0.75em 0;
}

.BYUfooter p {
  margin: 0.25em 0;
  font-size: 0.8em;
}

.BYUfooter .subtitle {
  color: whitesmoke;
  font-style: normal;
}

.BYUfooter a {
  color: var(--yellow);
}

/***************** GALLERY *********************/
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.visitedGallery {
  margin-top: 2em;
  text-align: center;
  
}

/***************** FORMS *********************/

form fieldset {
  margin: 2% 0;
  padding: 4% 2% 0 2%;
  border-radius: 4px;
}

form fieldset label {
  font-size: .9em;
}

form fieldset legend {
  color: var(--darkgreen);
  font-weight: bold;
}

form label.top + input, form label.top + select, form textarea {
  display: block;
  font-size: 1rem;
  border: none;
  background-color: #eee;
  border-radius: 4px;
  padding: .75rem;
  color: #333;
  width: 92%;
  max-width: 22rem;
  margin-bottom: 5%;
}

form textarea {
  margin-bottom: 2%;
}

form label.sbs {
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
}

form label.range {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  max-width: 20rem;
}

form input#severity {
  width: 80%;
}

form label.comments {
  margin-top: 7%;
  display: block;
}

form input.submitBtn {
  border: none;
  background-color: var(--darkgreen);
  color: white;
  font-weight: bold;
  border-radius: .5rem;
  margin: 2% 0 2rem 2%;
  padding: .75rem 1.5rem;
  width: 100%;
  max-width: 21rem;
}


form label.top + input:required:valid {
  border-left: green solid;
}

.noDeadspace picture {
  display: none;
}

/***************** HOME *********************/

.homehero {
  position: relative;
  color: whitesmoke;
  max-width: 1124px;
  margin: 0 auto;
  border-top: solid white 2px;
  background-color: white;
}

.herotext {
  position: absolute;
  top: 5%;
  text-align: center;
  width: 80%;
  height: 65%;
  padding: 0 10%;
  background: rgb(30,113,59);
  background: radial-gradient(circle, rgba(30,113,59,0.8) 0%, rgba(47,84,96,0) 85%);
}

.homehero h1{
  color: white;
  font-weight: normal;
  font-size: 28px;
}

.homehero p {
  margin-bottom: 12%;
  font-family: "Quicksand", Arial, sans-serif;
}

.homehero a {
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 2em;
  margin: 2em;
}

.homehero a:hover {
  background-color: #eec584;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.homehero img {
  width: 100%;
}

.towns {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  
}

.towns h1{
  margin: .5em 0 0 0 ;
}

.towns section {
  background-color: rgb(47, 84, 96, .125);
  border-radius: .5em;
  text-align: center;
  padding: 0 1em 1em 1em;
}

.towns section h2 {
  margin-bottom: .05em;
}

.towns section p {
  margin: .75em;
}

.towns section span {
  color: var(--green);
  font-family:  "Quicksand", Arial, sans-serif;
  font-weight: bold;
}

.towns section img {
  width: 300px;
}

.news div {
  margin-bottom: 1em;
  background-color:  rgb(47, 84, 96, .125);
  padding: 1em;
  border-radius: .5em;
}

.news div:hover {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.news picture {
  float: left;
  margin-right: 1rem;
  width: 50%;
}

.news a {
  text-decoration: none;
  color: black;
}

.news span {
  font-style: italic;
  font-weight: bold;
  display: block;
}

.news strong {
  display: block;
  margin-bottom: 1.5%;
}

.news .more {
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news .more:hover {
  background-color: var(--blue);
}

.news .more a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 1em 10em;
}

.news .more a:hover {
  color: white;
}

/***************** YouTube *********************/
main.presentation {
  margin: 0 auto;
  text-align: center;
}

main.presentation iframe {
  width: 100%;
  height: 420px;
}

main.presentation li {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

