/************** Fonts ***************/
/*Lora is the font for the headlines*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-family: Lora, serif;
}

/************** Colors ***************/
:root {
    --blue: #6495ed;
    --antique: #faebd7; /*for the main background and text at the sidebar*/
    --darker: #deb887;
}

header {
    background-color: var(--blue);
}

main {
    background-color: var(--antique);
}

article {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

article div.post-date {
    color: gray;
}

/************** Link Colors ***************/
a:link, a:visited {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--darker);
}

header a:link, header a:visited {
    color: var(--antique);
}

header a:hover {
    color: white;
}

article h2 a:link, article h2 a:visited {
    color: black;
}

article h2 a:hover {
    color: var(--blue);
}

/************** Body ***************/
body {
    margin: 0;
}

/************** Header ***************/
header {
    padding: 1.5em;
    text-align: right;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 1em 0;
}

/************** Article ***************/
main {
    padding: 1.5em 0;
}

article {
    margin: 1.5em;
    border-radius: 4px;
    padding: 1.5em;
}

article h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin-top: .25em;
    margin-bottom: 2em;
}

article figure img {
    width: 90%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}

/* Larger view ************************/
@media only screen and (min-width: 38em) {
    body div {
        display: grid;
        grid-template-columns: 300px 1fr;
    }

    header {
        padding: 1.5em 3em;
    }

    article {
        margin: 1.5em 10%;
    }
} /* media query ends here*/