/* Tablet Views ****************************/
@media only screen and (min-width: 32.5em) {
    main {
		grid-template-columns: 1fr 1fr;
	}
    main div:nth-child(2) {
		display: block;
	}
	main div:nth-child(3) {
		grid-column: span 2;
	}
	#principle3 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 40px 34px 34px 1fr;
	}
	#principle3 h3 {
		grid-column: span 2;
	}
	#principle3 a {
		grid-area: 3 / 1 / span 1 / span 1;
	}
	#principle3 img {
		grid-area: 2 / 2 / span 3 / span 1;
	}
}