/* Desktop Views ****************************/
@media only screen and (min-width: 1080px) {
  .headings h1 {
    font-size: 2.4em;
  }

  .navigation li {
    margin: 0 1em;
  }

  .navigation li a {
    padding: 0.8em 1em;
    border: none;
  }
  header img {
    width: 65px;
  }
  main {
    padding: 1.5em;
  }

  .article {
    margin: 0 2em;
  }

  footer {
    padding: 1.5em;
    max-width: 1080px;
    margin: auto;
  }

  /***************** GALLERY *********************/
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .gallery figcaption {
    display: block;
    font-size: 0.9em;
    padding: 2%;
  }

  .gallery picture img {
    border-radius: 1% 1% 0 0;
  }

  .gallery picture {
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }

  .gallery picture:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
} /*************end of media query**********/
