@media only screen and (min-width: 900px) {
  /***************** AUXILIARY *********************/
  .activePage {
    color: white;
    border: 1px solid white;
    border-radius: 0.5em;
  }

  .img-div picture img {
    width: 100%;
  }

  .max2Columns {
    grid-template-columns: 2fr 3fr;
  }

  .max3Columns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .max4Columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .moreColumns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .liInactive {
    display: none;
  }

  /***************** HEADER *********************/
  /*max-width attribute for header ul inside footer section*/
  header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(
      157deg,
      var(--blue) 0%,
      rgba(255, 187, 22, 0.5) 250%
    );
  }

  header .NavBar .menuNav {
    display: none;
  }

  /***************** NAVIGATION *********************/
  header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  header ul li {
    width: 90%;
  }

  header li:hover {
    border-radius: 1em;
  }

  header ul li a {
    padding: 0 12%;
  }

  header .borderSpace {
    margin: 1%;
  }

  header ul li {
    display: block;
  }

  aside.alertBox div.alertTitleLabel {
    justify-content: space-around;
  }

  /***************** MAIN *********************/
  main .mainGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  main .mainGrid .pic1 {
    margin: 12px 4%;
  }

  main .mainGrid .pic1 img {
    width: 92%;
    border-radius: .5em;
  }

  main .mainGrid .Upcoming {
    grid-area: 3/2/span 3/span 1;
  }

/***************** JOIN INFO *********************/
  main .join-invite {
    width: 50%;
    font-size: 18px;
  }

  main .join-invite a {
    padding: 1em 2em;
  }

  /***************** WEATHER INFO *********************/
  main div.weather-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 200px;
  }

  main .weather-info .titleBar, main .weather-info .weatherLabel {
    grid-row-end: span 2;
  }

  main .weather-info .forecast {
    grid-area: 2/2/span 5/3;
  }

  /***************** HERO IMG *********************/
  main .heroimg picture {
    width: 100%;
    height: 56.3%;
  }

  main .top-hero picture {
    width: 100%;
    height: 20.74%;
  }

  /***************** FOOTER *********************/
  header ul,
  header .NavBar,
  footer div {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  footer .footerHeadline {
    text-align: left;
    width: 100%;
  }

  footer .headquarters {
    padding-left: 8em;
  }

  footer .follow {
    padding-right: 6em;
  }

  /***************** CONTACT PAGE *********************/
  main .contactGrid .max3Columns iframe {
    grid-row-end: span 2;
    grid-column-end: span 2;
    height: 94%;
    margin-top: 16px;
  }

  main .contactGrid .max3Columns div:nth-child(4) {
    grid-column-end: span 2;
    width: 86%;
    padding: 2% 3% 1.5%;
  }

  main .contactGrid .max3Columns #sendMessage form div:nth-child(4) {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /***************** DIRECTORY PAGE *********************/
  main .directoryGrid .directoryAdd .listView {
    justify-content: space-evenly;
  }

  main .directoryGrid .directoryAdd .gridView {
    width: 84%;
    padding: .75em 5%;
  }

  /***************** CITY PAGE *********************/
  main .cityGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main .cityGrid .pics {
    margin: 12px 4%;
  }

  main .cityGrid .pics img {
    border-radius: .5em;
  }
  
  main .cityGrid #cityInfo {
    grid-row-end: span 2;
  }

  main .cityGrid .pic1 {
    grid-column-end: span 2;
  }

  main .cityGrid #cityHistory {
    grid-column-end: span 2;
    grid-row-end: span 3;
  }
} /*************end of media query**********/
