@media only screen and (min-width: 600px) {
    div {
        margin: 12px 0;
    }
    
    /***************** AUXILIARY *********************/
    .max2Columns {
        display: grid;
        grid-template-columns: 4fr 4fr;
    }
    
    .max3Columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .75em;
    }
    
    .moreColumns {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /***************** HEADER *********************/
    header .NavBar {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    header .logoNav {
        margin-left: 1em;
    }

    /***************** MAIN *********************/
    /***************** HERO IMG *********************/
    main .heroimg picture {
    width: 100vw;
    height: 75vw;
    }

    /***************** FOOTER *********************/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footerHeadline, .credits {
        grid-column-end: span 2;
    }

    footer .footerHeadline {
        margin-top: 0;
    }

    footer .headquarters {
        margin-left: auto;
        margin-right: 0;
    }

    footer .follow {
        margin-left: 5em;
        margin-right: auto;
    }
    
    footer .credits {
        margin-bottom: 0;
    }

/***************** CONTACT PAGE *********************/
main .contactGrid .max3Columns iframe {
    grid-row-end: span 2;
    height: 92%;
    margin-top: 16px;
}

main .contactGrid .max3Columns div:nth-child(3) {
    grid-row-end: span 2;
}

main .contactGrid ul.max3Columns {
    margin: 1em 0;
}

main .contactGrid ul.max3Columns li {
    margin: 0;
}

/***************** JOIN PAGE *********************/
main .joinGrid .max2Columns div:nth-child(2) {
    grid-row-end: span 4;
}

main .joinGrid .max2Columns div:nth-child(3) {
    grid-row-end: span 5;
}


} /*************end of media query**********/