@media only screen and (min-width: 600px) {
  div {
    margin: 12px 0;
  }

  /***************** AUXILIARY *********************/
  .max2Columns {
    display: grid;
    grid-template-columns: 4fr 4fr;
  }

  .max3Columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75em;
  }

  .max4Columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .moreColumns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /***************** HEADER *********************/
  header .NavBar {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  header .logoNav {
    margin-left: 1em;
  }


  
  /***************** MAIN *********************/
  /***************** JOIN INFO *********************/
  main .join-invite {
    width: 50vw;
    font-size: 18px;
  }

  main .join-invite h1 {
    font-size: 36px;
  }

  /***************** HERO IMG *********************/
  main .heroimg picture {
    width: 100vw;
    height: 75vw;
  }

  main .top-hero picture {
    width: 100vw;
    height: 22.22vw;
  }

  /***************** FOOTER *********************/
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footerHeadline,
  .credits {
    grid-column-end: span 2;
  }

  footer .footerHeadline {
    margin-top: 0;
  }

  footer .headquarters {
    margin-left: auto;
    margin-right: 0;
  }

  footer .follow {
    margin-left: 5em;
    margin-right: auto;
  }

  footer .credits {
    margin-bottom: 0;
  }

  /***************** CONTACT PAGE *********************/
  main .contactGrid .max3Columns iframe {
    grid-row-end: span 2;
    height: 92%;
    margin-top: 16px;
  }

  main .contactGrid .max3Columns div:nth-child(3) {
    grid-row-end: span 2;
  }

  main .contactGrid ul.max3Columns {
    margin: 1em 0;
  }

  main .contactGrid ul.max3Columns li {
    margin: 0;
  }

  /***************** JOIN PAGE *********************/
  main .joinGrid .max2Columns div:nth-child(2) {
    grid-row-end: span 4;
  }

  main .joinGrid .max2Columns div:nth-child(3) {
    grid-row-end: span 5;
  }

  /***************** DIRECTORY PAGE *********************/
  main .directoryGrid .directorySwitch {
    display: block;
    text-align: right;
    margin-right: 12%;
    margin-left: auto;
    background-color: var(--platinum);
    border-radius: 2.5em;
  }

  main .directoryGrid .directorySwitch i {
    padding: 1em;
  }

  main .directoryGrid .directorySwitch .icon-active {
    background-color: var(--blue);
    border-radius: 2.5em;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  main .directoryGrid .directorySwitch .icon-active:hover {
    background: linear-gradient(
      157deg,
      var(--blue) 0%,
      rgba(255, 187, 22, 0.5) 250%
    );
  }

  main .directoryGrid .directoryAdd .listView {
    width: 88%;
    margin: 1em auto;
    border-radius: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.2em 2.5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  main .directoryGrid .directoryAdd .listView img {
    width: 80px;
  }

  main .directoryGrid .directoryAdd .listView:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  main .directoryGrid .directoryAdd .listView p {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  main .directoryGrid .directoryAdd .listView .telFlex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  main .directoryGrid .directoryAdd .gridView {
    width: 88%;
    margin: 1em 2.5%;
    border-radius: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.2em 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main .directoryGrid .directoryAdd .gridView img {
    width: 150px;
    margin: 1em auto;
  }

  main .directoryGrid .directoryAdd .gridView:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  

  /***************** HOMEPAGE *********************/
  main .advertisement {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main .advertisement .topThree {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .advertisement .topThree:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  }

  main .advertisement p {
    grid-column-end: span 3;
  }

  main .Upcoming picture {
    display: flex;
    justify-content: center;
  }

  main .Upcoming img {
    width: 400px;
  }
} /*************end of media query**********/
